<form [formGroup]="creationForm">

    <ejs-tab #tab id="tab_wizard" heightAdjustMode="Fill" width="100%" (select)="tabSelected($event)">
        
        <e-tabitems>

            <e-tabitem *ngFor="let group of creationParamGroups">

                <ng-template #headerText>
                    {{group.name}}
                </ng-template>

                <ng-template #content>
                    
                    <div *ngFor="let param of group.params" class="responsive-align">
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6 search-item" floatLabelType="Auto">
                                <app-field-param
                                    [formGroup]="creationForm"
                                    [param]="param">
                                </app-field-param>
                            </div>
                        </div>
                    </div>

                </ng-template>

            </e-tabitem>
            
        </e-tabitems>
        
    </ejs-tab>

    <div class="btn-container">
        <button id="prevBtn" class="e-btn" (click)="showPreviousTab()" [disabled]="disablePrevBtn()">Previous</button>
        <button id='nextBtn' class='e-btn' (click)="showNextTab()" [disabled]="disableNextBtn()">Next</button>
        <button id='createBtn' class='e-btn' (click)="create()" [disabled]="disableCreateBtn()">Create member</button>
    </div>

</form>