<div id="container">
    <div id="tabs">
        <ejs-tab id="element">
            <e-tabitems>
                <e-tabitem *ngFor="let tab of tabs">
                    <ng-template #headerText>
                        <div routerLink="{{tab.path}}">
                            {{tab.title}}
                        </div>
                    </ng-template>
                </e-tabitem>
            </e-tabitems>
          </ejs-tab>
          <router-outlet></router-outlet>
    </div>
    <div id="quick-search-container">
        <app-quick-search></app-quick-search>
    </div>
</div>