<div id="content" *ngIf="issues$ | async as issues; else loading">
    <app-data-grid *ngIf="issues.length > 0" 
        [displayedColumns]="displayedColumns" 
        [items]="issues"
        [pageSettings]="pageSettings"
        [allowPaging]="allowPaging"
        [allowSelection]=allowSelection
        [allowSorting]="allowSorting"
        [rowClick]="rowClick">
    </app-data-grid>
    <div *ngIf="issues.length === 0">No data</div>
</div>

<ng-template #loading>
    <div>Loading issues...</div>
</ng-template>

<app-add-entity-button
    [entityTypeName]="entityTypeName"
    [title]="title"
    [message]="message"
    [controls]="controls$"
    (createEventEmitter)="createNewIssue($event)">
</app-add-entity-button>