<div id="account">
    <ul>
        <li *ngFor="let item of accountItems">
            <p>{{item}}</p>
        </li>
    </ul>
</div>
<div id="dropdown">
    <form [formGroup]="clientSelectionForm" (ngSubmit)="submitClientForm()">
        <label id="clientDdlLbl" for="clientDdl">Client:</label>
        <ejs-dropdownlist 
            #clientDdl
            id="clientDdl" 
            name="clientDdl" 
            [dataSource]="filteredClients" 
            [fields]="fields" 
            placeholder="Select a client" 
            [formControlName]="'clientDdl'"
            [allowFiltering]='true' 
            (filtering)='onFiltering($event)'
            (close)="repopulateDropdown()"
            (select)="selectionChange($event)"></ejs-dropdownlist>
        <button ejs-button 
            type="submit" 
            name="submit-btn">
            Go
        </button>
    </form>
</div>