<!-- <h1 mat-dialog-title>New {{data.title}}</h1>
<mat-dialog-content>
    <ng-container *ngComponentOutlet="data.builderComponent" >
    </ng-container>
</mat-dialog-content> -->

<button mat-icon-button class="close-button" [mat-dialog-close]="true">
    <mat-icon class="close-icon" color="warn">close</mat-icon>
</button>

<h1 mat-dialog-title>{{title}}</h1>
<mat-dialog-content>
    <div>
        <form (ngSubmit)="onSubmit()" [formGroup]="formGroup" *ngIf="formGroup" class="controls-form">
      
            <div *ngFor="let control of controls" class="form-row">
                <app-form-control [control]="control" [formGroup]="formGroup"></app-form-control>
            </div>

            <mat-dialog-actions>
                <button ejs-button cssClass="e-info" type="submit" [disabled]="!formGroup.valid">Create</button>
            </mat-dialog-actions>

        </form>
    </div>
</mat-dialog-content>