<div [formGroup]="formGroup">
      
    <div [ngSwitch]="control.controlType">

        <!-- <label for="control.key" class="input-label">{{control.label}}</label>
        <ejs-textbox *ngSwitchCase="'textbox'"
            [formControlName]="control.key"
            [id]="control.key"
        ></ejs-textbox> -->
  
        <!-- <ejs-dropdownlist *ngSwitchCase="'dropdown'"
            id="control.key"
            #dropdown
            [dataSource]="control.options | async"
            [fields]="{ text: 'displayString', value: 'value' }"
            popupHeight='220px'
            (select)="select($event)">
        </ejs-dropdownlist> -->
        <ng-container *ngSwitchCase="'textbox'">
            <app-field-input [control]="control" [formGroup]="formGroup"></app-field-input>
        </ng-container>
        <ng-container *ngSwitchCase="'dropdown'">
            <app-field-dropdown [control]="control" [formGroup]="formGroup"></app-field-dropdown>
        </ng-container>
        
        <div class="error-message" *ngIf="!isValid">
            {{control.label}} is required
        </div>
  
    </div>
  
</div>