<app-add-entity-button
    [controls]="controls$ | async"
    [entityTypeName]="entityTypeName"
    (newEntityPropertiesEmitter)="createNewProject($event)">
</app-add-entity-button>


<!-- <app-project-builder [controls]="controls$ | async"></app-project-builder> -->

<ng-container *ngFor="let project of project$ | async">
    <app-project-card
        [project]="project"
        (removeProject)="removeProject($event)"
    ></app-project-card>
</ng-container>


<!-- 
<div class="data-grid" *ngIf="project$ | async as projects; else loading">
    <app-data-grid 
        [displayedColumns]="displayedColumns" 
        [items]="projects"
        [pageSettings]="pageSettings"
        [allowPaging]="allowPaging"
        [allowSelection]="allowSelection"
        [allowSorting]="allowSorting">
    </app-data-grid>
</div>

<ng-template #loading>
    <h1>Loading...</h1>
</ng-template> -->