<form [formGroup]="creationForm">

    <ejs-tab #tab id="tab_wizard" heightAdjustMode="Fill" width="100%" (select)="tabSelected($event)">
        
        <e-tabitems>

            <e-tabitem *ngFor="let group of creationParamGroups">

                <ng-template #headerText>
                    {{group.name}}
                </ng-template>

                <ng-template #content>
                    
                    <div *ngFor="let param of group.params" class="responsive-align">
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6 search-item" floatLabelType="Auto">
                                <ng-container [ngSwitch]="param.type">
                                    <ng-container *ngSwitchCase="'date'">
                                        <ng-container *ngTemplateOutlet="date"></ng-container>
                                    </ng-container>
                                    <ng-container *ngSwitchCase="'dropdown'">
                                        <ng-container *ngTemplateOutlet="dropdown"></ng-container>
                                    </ng-container>
                                    <ng-container *ngSwitchDefault>
                                        <ng-container *ngTemplateOutlet="input"></ng-container>
                                    </ng-container>
                                </ng-container>
                                <ng-template #date>
                                    <app-date
                                    <ejs-datepicker #date class="form-control" 
                                        formControlName="{{param.name}}"
                                        width='100%' 
                                        placeholder="{{param.label}}" 
                                        floatLabelType='Auto'
                                        [value]='date'>
                                    </ejs-datepicker>
                                </ng-template>
                                <ng-template #dropdown>
                                    <ejs-dropdownlist 
                                        #clientDdl
                                        id="clientDdl" 
                                        name="clientDdl" 
                                        [dataSource]="filteredClients" 
                                        [fields]="fields" 
                                        placeholder="Select a client" 
                                        formControlName="{{param.name}}"
                                        [allowFiltering]='true' 
                                        (filtering)='onFiltering($event)'
                                        (close)="repopulateDropdown()"></ejs-dropdownlist>
                                </ng-template>
                                <ng-template #input>
                                    <ejs-tooltip content="{{param.tooltip}}" target="#inputTarget">
                                        <ejs-textbox id="input-target" class="form-control" formControlName="{{param.name}}" placeholder="{{param.label}}" floatLabelType="Auto"></ejs-textbox>
                                    </ejs-tooltip>
                                </ng-template>
                            </div>
                        </div>
                    </div>

                </ng-template>

            </e-tabitem>
            
        </e-tabitems>
        
    </ejs-tab>

    <div class="btn-container">
        <button id="prevBtn" class="e-btn" (click)="showPreviousTab()" [disabled]="disablePrevBtn()">Previous</button>
        <button id='nextBtn' class='e-btn' (click)="showNextTab()" [disabled]="disableNextBtn()">Next</button>
        <button id='createBtn' class='e-btn' (click)="create()" [disabled]="disableCreateBtn()">Create Project</button>
    </div>

</form>

<app-toast></app-toast>