.e-card.e-card-horizontal {
    width: 600px
}

.e-card.e-card-horizontal > img {
    height: 300px;
    width: 300px;
}

.e-card-header-title {
    margin: auto;
}

.e-card-actions {
    margin: auto;
}